# Modules to install

numpy
scipy
matplotlib
numba
h5py
termcolor
datetime
sympy
numpydoc
config @ git+https://gitlab.com/vaishakp/config@master
spectral @ git+https://github.com/vaishakp/spectral@main
recommonmark
sphinx-rtd-theme
