# Modules to install

numpy
scipy
matplotlib
numba
h5py
termcolor
datetime
sympy
numpydoc
-e git+https://gitlab.com/vaishakp/config@master#egg=config
-e git+https://github.com/vaishakp/spectral@main#egg=spectral
sphinx-rtd-theme
recommonmark
