# Modules to install

numpy
scipy
matplotlib
numba
h5py
termcolor
datetime
sympy
numpydoc
-e config @ git+https://gitlab.com/vaishakp/config@master
-e spectral @ git+https://github.com/vaishakp/spectral@main
sphinx-rtd-theme
recommonmark
